.footer {
    background-color: black;
    padding: 2em 0 1em 0;
    margin-top: -100px;

}

.footer a {
    text-decoration: none;
    color: rgb(149, 149, 149);
    font-weight:500;
}

.footer .col-2 {
    border-right: solid white .1em;
    text-align: center;
}

.footer a:hover {
    color: white;
}
.icons{
    margin-top:15px;
}