.titlename {
  color: #FFFFFF;
  margin-left: 570px;
  letter-spacing: 10px;
  padding: 15px 0px 0px;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;

}

.titlename:hover {
  color: white;
}

.navbarfull {
  background-color: black;
  height: 115px;
  position: sticky;
  top: 0;

}


.nav-link {
  color: #9e9e9e;
  margin-left: 340px;
  margin-right: -290px;
  font-weight: 500;
  font-size: 14px;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}

.leftsidenav {
  margin-left: 200px;
}


.btn {
  margin-left: 10px;
  margin-top: -3px;
}


#areamask {
  width: 140px;
}

#areamask:hover {
  color: white;
  font-weight: bold;
}

.badge:hover {
  background-color: #978f8f;
  border-radius: 25px;
}


.notes::after {
  content: "";
  display: inline-block;
  background: #8596ff;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  position: relative;
  top: -2px;
  left: 10px;
}



.companymenuli {
  margin-top: 5px;
  margin-left: 260px;
}


.setting {
  margin-left: 200px;
  font-weight: 900;

}


/* hover background*/

.setting li ul {
  display: none;
  position: absolute;
  top: 100%;
  opacity: 0.8;
  width: 200px;
  height: 1600px;
  background-color: [UIColor clear];

}

.setting li:hover ul {
  display: block;

}

.setting li ul li {
  display: block;
  font-size: 23px;
  font-weight: 400;
  margin-left: -35px;
  


}

.setting li ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
  height: 1600px;

  opacity: 1;
}

.setting li ul li a img {
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  background-color: #000;


}

