.titlename {
  color: #FFFFFF;
  margin-left: 600px;
  letter-spacing: 10px;
  padding: 15px 0px 0px;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;

}

.titlename:hover {
  color: white;
}

.navbarfull {
  background-color: black;
  height: 115px;
  position: sticky;
  top: 0;

}


.nav-link {
  color: #9e9e9e;
  margin-left: 310px;
  margin-right: -260px;
  font-weight: 500;
  font-size: 14px;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}

.leftsidenav {
  margin-left: 200px;
}

.btn {
  margin-left: 10px;
  margin-top: -3px;
}


#areamask {
  width: 120px;
}

#areamask:hover {
  color: white;
  font-weight: bold;
}

/*nav-link focus*/

.nav-link:focus {
  border-bottom: solid grey .2em;
  margin-bottom: 1em;
  color: white;
}

.badge:hover {
  background-color: #978f8f;
  border-radius: 25px;
}


.notes::after {
  content: "";
  display: inline-block;
  background: #8596ff;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  position: relative;
  top: -2px;
  left: 10px;
}



.companymenuli {
  margin-top: 5px;
  margin-left: 260px;
  color: #978f8f;

}


.setting {
  margin-left: 200px;
  font-weight: 900;
  color: #978f8f;
}

.setting:hover {
  color: #978f8f;
  text-decoration: none;
}

/* hover background*/


.navbar-toggler {
  margin-left: -100px;
  background-color: aliceblue;
}

.ullist {
  display: none;
  top: 100%;
  position: relative;
  opacity: 0.8;
  width: 200px;
  height: 1600px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(2, 0, 36, 1) 100%);
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}


.companymenuli:hover .ullist {
  display: block;
  margin-top: 20px;
}

#sign-in:hover {
  color: white;
}

#register:hover {
  color: white;
}

#order-status:hover {
  color: white;

}

#contact:hover {
  color: white;

}


/*media queries*/

@media only screen and (min-width:319px) and (max-width:374px) {
  .titlename {
    display: none;
  }

  .navbar-toggler {
    font-size: 10px;
    width: 35px;
  }

  .nav-link {
    color: white;
    margin-left: 50px;
  }

  .setting {
    display: none;
  }


}