.titlename {
  color: #FFFFFF;
  margin-left: 570px;
  letter-spacing: 10px;
  padding: 15px 0px 0px;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace
}

.navbarfull {
  background-color: black;
  height: 115px;

}

.nav-link {
  color: #9e9e9e;
  margin-left: 340px;
  margin-right: -290px;
  font-weight: 500;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
}

.leftsidenav {
  margin-left: 200px;
}


.btn {
  margin-left: 10px;
  margin-top: -3px;
}

#areamask {
  width: 140px;
}

#areamask:hover {
  color: white;
  font-weight: bold;
}

.badge:hover {
  background-color: #978f8f;
  border-radius: 25px;
}


.notes::after {
  content: "";
  display: inline-block;
  background: #8596ff;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  position: relative;
  top: -2px;
  left: 10px;
}



.companymenuli {
  margin-top: 5px;
  margin-left: 260px;
}


.setting {
  margin-left: 200px;
  font-weight: 900;
  
}



.setting li ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  opacity: 0.5;
  width: 200px;
  height:1600px;
}

.setting li:hover ul {
  display: block;
}

.setting li ul li {
  display: block;
  color: rgb(49, 48, 48);
  font-size: 23px;
  font-weight: 400;
  margin-left: -50px;
  background-color: #000;
 

}

.setting li ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
  height:1600px;

  opacity: 1;
}

.setting li ul li a img {
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  

}

.setting li ul li a:hover {
  background-color: #f2f2f2;

  opacity: 1;
}

.setting li ul li a:hover img {
  opacity: 1;
  background-color: #8596ff;
}